.component-scenario{
  border-left: 4px solid white;
  &.active{
    border-left: 4px solid teal;
  }
  .sc-text{
    width: auto;
    display: inline;
  }
  .it{
    display: block;
    margin-left: 10px;
  }
}