.component-suite{
  .suite-text{
    width: auto;
    display: inline;
  }
  .scenario-wrapper{
    margin-left: 5px;
    .add-scenario{
      margin-left: 10px;
      font-size: 12px;
      i{
        margin-right:10px;
      }
    }
  }
}