.component-suite{
  .suite-text{
    width: auto;
    display: inline;
  }
  .suites-wrapper{
    margin-left: 5px;
    .add-suite{
      margin-left: 10px;
      color: #333;
      i{
        font-size: 12px;
        margin-right:10px;
      }
    }
  }
}